<h1 align="center">Editar símbolo</h1>
<br>
<%= render 'form', simbol: @simbol %>
<br>
<div align="center">
<%= link_to 'Ver', @simbol, class: 'btn btn-success btn-xs' %> |
<%= link_to 'Atrás', simbols_path, class: 'btn btn-default btn-xs'%>

</div>