<h1>Editar relación Enfermera-Paciente</h1>

<%= render 'form', enfermeras_paciente: @enfermeras_paciente %>
<br>
<%= link_to 'Ver', @enfermeras_paciente, class: 'btn btn-success btn-xs'%> |
<%= link_to 'Atrás', enfermeras_pacientes_path, class: 'btn btn-default btn-xs' %>
