<h1>Editing Interaction</h1>

<%= render 'form', interaction: @interaction %>

<%= link_to 'Ver', @interaction, class: 'btn btn-success btn-xs'  %> |
<%= link_to 'Atrás', interactions_path, class: 'btn btn-default btn-xs'  %>
